In [3]:
pip install pyod

Collecting pyod
  Downloading pyod-0.8.0.tar.gz (93 kB)
     |████████████████████████████████| 93 kB 1.1 MB/s eta 0:00:011
Collecting combo
  Downloading combo-0.1.0.tar.gz (37 kB)
Requirement already satisfied: joblib in /opt/conda/lib/python3.7/site-packages (from pyod) (0.14.1)
Requirement already satisfied: matplotlib in /opt/conda/lib/python3.7/site-packages (from pyod) (3.1.3)
Requirement already satisfied: numpy>=1.13 in /opt/conda/lib/python3.7/site-packages (from pyod) (1.18.1)
Requirement already satisfied: numba>=0.35 in /opt/conda/lib/python3.7/site-packages (from pyod) (0.48.0)
Requirement already satisfied: scipy>=0.19.1 in /opt/conda/lib/python3.7/site-packages (from pyod) (1.4.1)
Requirement already satisfied: scikit_learn>=0.19.1 in /opt/conda/lib/python3.7/site-packages (from pyod) (0.22.1)
Requirement already satisfied: six in /opt/conda/lib/python3.7/site-packages (from pyod) (1.14.0)
Collecting suod
  Downloading suod-0.0.4.tar.gz (2.1 MB)
     |████████████████████████████████| 2.1 MB 28.3 MB/s eta 0:00:01
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /opt/conda/lib/python3.7/site-packages (from matplotlib->pyod) (2.4.6)
Requirement already satisfied: python-dateutil>=2.1 in /opt/conda/lib/python3.7/site-packages (from matplotlib->pyod) (2.8.1)
Requirement already satisfied: cycler>=0.10 in /opt/conda/lib/python3.7/site-packages (from matplotlib->pyod) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /opt/conda/lib/python3.7/site-packages (from matplotlib->pyod) (1.1.0)
Requirement already satisfied: llvmlite<0.32.0,>=0.31.0dev0 in /opt/conda/lib/python3.7/site-packages (from numba>=0.35->pyod) (0.31.0)
Requirement already satisfied: setuptools in /opt/conda/lib/python3.7/site-packages (from numba>=0.35->pyod) (46.0.0.post20200310)
Building wheels for collected packages: pyod, combo, suod
  Building wheel for pyod (setup.py) ... done
  Created wheel for pyod: filename=pyod-0.8.0-py3-none-any.whl size=105562 sha256=8911a4a2ec8754d53f6b7b7f93db1fb1389d938d9c98026d9056aa813c90077f
  Stored in directory: /home/carlos97/.cache/pip/wheels/56/fe/c9/8bef0f10fadc1f1601664fc32181f3f3c5e37c1610c26bc4f9
  Building wheel for combo (setup.py) ... done
  Created wheel for combo: filename=combo-0.1.0-py3-none-any.whl size=42043 sha256=eb3d4d8c5a5890079d0858dd3ce66a093e866b99a1905ad2886e6bbba9642bf6
  Stored in directory: /home/carlos97/.cache/pip/wheels/24/eb/02/73968b2bdaf3e75712f742d915e72678c7118dc0c14af9f18b
  Building wheel for suod (setup.py) ... done
  Created wheel for suod: filename=suod-0.0.4-py3-none-any.whl size=2167157 sha256=dcb0032d57e6bb06fc4bf043547766461d690672ab9f0ca115167c2b9a1163ee
  Stored in directory: /home/carlos97/.cache/pip/wheels/dc/ae/aa/3b8cc857617f3ba6cb9e6b804c79c69d0ed60a08e022e9a4f3
Successfully built pyod combo suod
Installing collected packages: combo, suod, pyod
Successfully installed combo-0.1.0 pyod-0.8.0 suod-0.0.4
Note: you may need to restart the kernel to use updated packages.

In [6]:
import matplotlib.pyplot as plt
import numpy as np
from math import pi

In [4]:
from pyod.models.knn import KNN
from pyod.models.pca import PCA
import pandas as pd

In [7]:
edades = np.array([22,22,23,23,23,23,26,27,27,28,30,30,30,30,31,32,33,34,80])
salario_anual_miles = np.array([16,20,15,21,19,17,33,22,31,32,56,30,22,31,30,16,2,22,23])
compras_mes = np.array([1,2,1,20,1,0,3,2,3,0,5,3,2,1,0,1,2,2,2])

In [8]:
df = pd.DataFrame(data={'edad':edades,'salario':salario_anual_miles, 'compras':compras_mes})

In [9]:
clf = KNN(contamination=0.18)
#clf = PCA(contamination=0.17)
clf.fit(df)

X=df
clf.fit(X)
scores_pred = clf.decision_function(X)
y_pred = clf.predict(X)

In [10]:
df

    edad  salario  compras
0     22       16        1
1     22       20        2
2     23       15        1
3     23       21       20
4     23       19        1
5     23       17        0
6     26       33        3
7     27       22        2
8     27       31        3
9     28       32        0
10    30       56        5
11    30       30        3
12    30       22        2
13    30       31        1
14    31       30        0
15    32       16        1
16    33        2        2
17    34       22        2
18    80       23        2

In [11]:
scores_pred

array([ 4.12310563,  5.19615242,  5.19615242, 19.33907961,  4.        ,
        3.74165739,  5.        ,  6.70820393,  3.60555128,  3.74165739,
       25.3179778 ,  4.12310563,  7.68114575,  3.60555128,  5.09901951,
        9.05538514, 18.13835715,  8.77496439, 50.009999  ])

In [12]:
y_pred

array([0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1])